{% extends 'darts/base.html' %}

{% load static %}

{% block title %}Darts Make{% endblock %}
{% block css %}<link rel="stylesheet"  type = "text/css" href="{% static 'darts/service.css' %}">{% endblock %}


{% block content %}

<div class="service">
    <div class="servicetop">
      <h1 id= "use_1">Darts Markとは</h1>
      <p>・ダーツを通して色んな人と出会い、繋がることを目指したサイトです。</p>
      <p>・お互いに評価し合うことで初めて合う人でも心配ありません。</p>
      <p>・空いた時間にダーツ友達の輪を広げましょう。</p>
      <p>・掲示板を使いダーツの雑談を楽しんでください。</p>

    <div class="use">
      <h2 id ="use_2">使い方</h2>
      <p>・ユーザー登録しましょう。</p>
      <p>・地域を設定をしましょう。</p>
      <p>・友達を募集か参加し連絡を取り合いましょう。</p>
      <p>・終わったらお互いを評価してください。次の出会いに繋がります。</p>
    </div>
</div>
{% endblock %}