<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>service</title>
    <link rel="stylesheet" href="../../static/service.css">
  </head>
  <body>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <header>
      <div class="container">
        <div class="header-left">
          <a href="darts.html">Darts Mark</a>
        </div>
      </div>
      <div class="header-right">
        <a href="#">ユーザー登録</a>
      </div>
      <div class="header-right1">
        <a href="#">ログイン</a>
      </div>
      <div class="header-left1">
        <a href="service.html#use_1">サービス</a>
        <a href="service.html#use_2">使い方</a>
      </div>
    </header>

    <div class="top">
      <h1 id= "use_1">Darts Markとは</h1>
      <p>・ダーツを通して色んな人と出会い、繋がることを目指したサイトです。</p>
      <p>・お互いに評価し合うことで初めて合う人でも心配ありません。</p>
      <p>・空いた時間にダーツ友達の輪を広げましょう。</p>
      <p>・掲示板を使いダーツの雑談を楽しんでください。</p>

    <div class="use">
      <h2 id ="use_2">使い方</h2>
      <p>・ユーザー登録しましょう。</p>
      <p>・地域を設定をしましょう。</p>
      <p>・友達を募集か参加し連絡を取り合いましょう。</p>
      <p>・終わったらお互いを評価してください。次の出会いに繋がります。</p>

    </div>

    </div>
    <footer>
      <div class="container">
        <p></p>
        <a href="Darts.html" class = "btn under">Darts Mark</a>
        <a href="#" class = "btn kiyaku">利用規約</a>
        <a href="#" class = "btn kiyaku">プライバシー</a>
        <a href="#" class = "btn kiyaku">製作者</a>

      </div>
    </footer>
  </body>

</html>
